.main{
    padding: 20px;
}

.box{
    height: 20px;
}
.cardContainer {
    position: relative;
    margin:10px; 
    height:300px;
    /* width: 250px; */
}

/* .logo {
position: absolute;
top: 10px;
left: 10px;
width: 50px; 
height: 50px; 
} */

.details {
/* margin-left: 60px;  */

}

.jobTitle {
font-weight: bold;
}

.salary {
margin-top: 10px;
font-size: 14px;
text-align: left;
}

.jobDescription {
margin-top: 10px;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
} 

.applyButton {
margin-top: 10px;
width: 100%;
}

.companyandtitle {
display: flex;
align-items: center;
justify-content: flex-start;
    width: 100%;
    gap: 20px;
}

.companyandtitletext {
text-align: left;
}

.showMoreLink{
color: blue;
text-decoration: none;
}


.experience{
    text-align: left;
}
.about{
display: flex;
align-items: flex-start;
}
.about-us{
    display: flex;
    align-items: flex-start;
}
.modal{
    display: flex;
    align-items: center;
    justify-content: center;    
}
.modalcard{
    height: 450px;
    width: 350px;
}